body {
  display: flex;
  justify-content: center;
}
.main {
  margin-top: 100px;
  width: 750px;
  min-height: 450px;
  border: 1px solid purple;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.post {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 700px;
  margin-bottom: 5px;
  background-color: rgba(127, 255, 212, 0.205);
}
h4 {
  text-align: center;
}
h1 {
  text-align: center;
}
